@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regu;ar'),
      url('../fonts/Poppins-Regular.eot') format('embedded-opentype'),
      url('../fonts/Poppins-Regular.ttf') format('truetype'),
      url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.eot');
    src: local('Poppins Semi Bold'), local('Poppins-Semibold'),
      url('../fonts/Poppins-SemiBold.eot') format('embedded-opentype'),
      url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }